{:paths ["src/main/clojure"]
 :deps {
        org.clojure/clojure {:mvn/version "1.10.1"}
        }
 :aliases {
           :uberjar {
                     :extra-deps {
                                  luchiniatwork/cambada {:mvn/version "1.0.2"}
                                  }
                     :main-opts [
                                 "-m" "cambada.uberjar"
                                 "-m" "se.soy.well_feedit.core"
                                 ]
                     }
           :dev {
                 :extra-paths [
                               "dev"
                               "classes"
                               ]
                 }
           }
}
